# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: EOC Snapshot Build
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Clone EOC repository
      uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: CI Setup
      run:  ./gradlew setupCIWorkspace

    - name: Build
      run: ./gradlew build

    - uses: actions/upload-artifact@v2
      with:
        name: EOC snapshot
        path: ./build/libs

    - name: Package Release
      if: ${{github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')}}
      run: |
        mkdir EOC-Build
        mv ./build/libs/* ./EOC-Build
        tar -cvf EOC-Build.tar ./EOC-Build

    - name: Create a new GitHub release if a new tag is pushed
      uses: softprops/action-gh-release@v0.1.5
      if: ${{github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')}}
      env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        prerelease: true
        files: 
          EOC-Build.tar
        body: |
          ## 更新日志
          * 这是 GitHub Action 自动化部署，更新日志将会手动更新。
